{% extends "base.html" %}

{% comment %}
{% block scriptsJ %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/simple.carousel.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            $("ul.example2").simplecarousel({
                width:700,
                height:400,
                auto: 4000,
                fade: 400,
                pagination: true
            });
        });
        
    </script>
{% endblock scriptsJ %}
{% endcomment %}


{% block stylepag %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/other_views/register.css" type="text/css">
{% endblock stylepag %}

{% block content %}
<div id="message"><b>{{ value }}</b></div>


{% comment %}
<div id="carouser_images">
    <ul class="example2">
        <li><img src="http://www.aditu.de/photos/life_is_gone_by_Tobias_Zeising.jpg" alt="life is gone by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/infinite_by_Tobias_Zeising.jpg" alt="infinite by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/far_away_by_Tobias_Zeising.jpg" alt="far away by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/venetian_alley_by_Tobias_Zeising.jpg" alt="venetian alley by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/neural_rust_by_Tobias_Zeising.jpg" alt="neural rust by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/a_day_without_rain_by_Tobias_Zeising.jpg" alt="a day without rain by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/classical_drop_by_Tobias_Zeising.jpg" alt="classical drop by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/loneliness_by_Tobias_Zeising.jpg" alt="loneliness by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/rays_of_reflection_by_Tobias_Zeising.jpg" alt="rays of reflection by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/autumn_sun_by_Tobias_Zeising.jpg" alt="autumn sun by Tobias Zeising" /></li>
        <li><img src="http://www.aditu.de/photos/elves_winter_by_Tobias_Zeising.jpg" alt="elves winter by Tobias Zeising" /></li>
    </ul>
</div>
{% endcomment %}

<span id="label_informativo">Registro</span>

<div id="form_user" align="center">
    <div class="block">
        <form method="post" enctype="multipart/form-data" action="/process/register/">
            <input type="text" name="name" required="required" autocomplete="off" placeholder="Name"><br>
            <input type="text" name="email" required="required" autocomplete="off" placeholder="Email"><br>
            <input type="password" name="password" required="required" autocomplete="off" placeholder="Password"><br>
			<label for="image">Adjuntar imagen de perfil</label>
			<input   type="file" name="miimagen" >
            {% csrf_token %}
            <input type="submit" value="&crarr;">
            <input type="reset" value="&larr;">
        </form>
    </div>
</div>
{% endblock content %}
